*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: purple;
    width: 40vw;
    height: 35vh;
    border-radius: 10px;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.time{
    /* border: 2px solid salmon; */
    font-size: 4rem;
    font-family: sans-serif;
    color: white;
    margin: 2%;
    width: 20vw;
    padding-left: 7%;
    align-items: center;
}
.btn{
    padding: 14px;
}
button{
    background-color: white;
    color: black;
    padding: 13px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}
button:hover{
    box-shadow: 2px 0px 2px black;
}
